# Ignore everything in the root directory
/*

# Except the "Assets" folder and its contents
!/Assets/

# Ignore everything inside the "Assets" folder
/Assets/*

# Except the "Scripts" folder and its contents inside the "Assets" folder
!/Assets/Scripts/